*, *:after, *:before {
  box-sizing: border-box;}

body {
  font-family: serif;
  margin: 0;
}

.header {
  background-color: #F8F8F8;
  padding-top: 45px;
  padding-bottom: 142px;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top {
  margin-bottom: 117px;
}

.top__logo {
  font-size: 18px;
  font-weight: 800;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  font-size: 14px;
  margin-right: 20px;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.nav__item:last-child {
  margin-right: 0px;
}

.phone {
  font-weight: 800;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content__text {
  flex-basis: 50%;
}

.header-content__title {
  font-size: 58px;
  margin-bottom: 23px;
}

.header-content__img {
  max-width: 632px;
}

.header-content__description {
  font-size: 17px;
  line-height: 160%;
  margin-bottom: 42px;
}

.btn {
  background: #FF6C6C;
  border-radius: 4px;
  color: #fff;
  padding: 15px 56px;
  border: none;
}
.btn--shadow {
  box-shadow: 0px 10px 25px rgba(255, 108, 108, 0.5);
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  margin-bottom: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex-basis: 25%;
  background: #F8F8F8;
  box-shadow: 0px 4px 4px rgba(104, 104, 104, 0.1);
  border-radius: 5px;
  text-align: center;
  padding: 30px;
}

.goods__card {
  margin-bottom: 30px;
}

.card__img{
  margin-bottom: 28px;
}

.card__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.card__title {
  font-size: 16px;
  text-align: left;
  max-width: 200px;
}

.card__price {
  font-size: 36px;
}

.card__btn {
  width: 100%;
}

.review-cards {
  display: flex;
  justify-content: space-between;
}

.review-card {
  padding: 20px 30px;
  flex-basis: 24%;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(131, 131, 131, 0.25);
  border-radius: 10px;
}

.review-card__title {
  font-size: 14px;
  margin-bottom: 5px;
}

.review-card__text {
  font-size: 14px;
  line-height: 21px;
}

.footer {
  background: #F8F8F8;
}
